#SubHeading{
    font-size:13.5pt;
    font-style: oblique;
}
#Left{
    float: left;
    overflow: hidden;
}
#Right{
    margin-left:275px;
    width: 600px;
    overflow: hidden;
}
#Text{
    margin-left:15px;
}