#Header{	
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: 75px;
	background-color: #656565;
	position: fixed;   
	-webkit-box-shadow: 3px 6px 20px -2px #121212;
	-moz-box-shadow: 3px 6px 20px -2px #121212;
    box-shadow: 3px 6px 20px -2px #121212;
    display: inline-block;
}
#HeaderText{
    font-size: 16pt;
    margin-top:13px;
    margin-left:17px;
    letter-spacing: 2;
    color: #f3f3f3;
    float: left;
}
#HeaderDesc{
	letter-spacing: 2;
    color: #f3f3f3;
    float: left;
    font-size: 8pt;
    font-style: italic;
}